<h1>id: <%= @tasks.id %> のタスク詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @tasks.id %></td>
  </tr>
  <tr>
    <th>ステータス</th>
    <td><%= @tasks.status %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @tasks.content %></td>
  </tr>
</table>
<%= link_to '一覧に戻る', tasks_path %>
<%= link_to 'このタスクを編集する', edit_tasks_path(@tasks) %>
<%= link_to 'このタスクを削除する', @tasks, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>