<% if logged_in? %>
  <div class="row">
     <aside class="col-md-4">
       <%= from_for(@micropost) do |f| %>
         <div class="from-group">
           <%= f.text_area :content, class: 'from-control', rows: 5 %>
         </div>
         <%= f.subit 'Post', class: 'btn btn-primary btn btn-blocl' %>
        <% end %>
     </aside>
     <div class="col-xs-8">
       <%= render 'microposts/microposts', microposts:@microposts %>
     </div>
  </div>
  <P>ログイン完了ユーザ: <%= current_user.name %></P>
<% else %>
 <div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Microposts</h1>
     <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
 </div>
<% end %>
